.card
{
  background: dimgrey;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card-footer
{
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  background: dimgrey;
}
