<div class="login">
  <div class="input-group flex-nowrap ipu">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">&#64;</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
  </div>
  <div class="input-group flex-nowrap ipu">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="password">#</span>
      <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password">
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary">Log IN</button>
  </div>
</div>

